.w-50{
    width: 50%;
}
.img img{
    width: 100%;
    height: 100vh;
}
p{
    font-size: 16px;
}
.h-100{
    height: 100vh;
    overflow: hidden;
}
.pt-5{
    padding-top: 50px;
}
.title p{
    margin:0  10px;
}
.mt-10{
    margin-top: 100px;
}
.pl-10{
    padding-left: 5vw;
}
.pl-5{
    padding-left: 50px;
}
.po-left{
    position: relative;
    left: -10px;
}
h1{
    font-size: 36px;
}
.btn{
    display: inline-block;
    border: none;
    padding: 5px 10px;
}
.input{
    display: inline-block;
    padding: 4px 50px 4px 10px;
}
.btn:hover{
    cursor: pointer;
}
.btn1{
    background-color: rgb(11,99,173);
    color: white;
}
.btn2{
    background-color: rgb(207,205,206);
}
.border-bottom-none{
    height: 600px;
    position: relative;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.border-bottom-none:hover{
    cursor: pointer;
}
.leftArrow{
    position: absolute;
    left: 20px;
    top: 45%;
    border-radius: 3px;
    background-color: rgba(0,0,0,.3);
    width: 44px;
    height: 140px;
    box-shadow: 0 0 3px white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightArrow{
    position: absolute;
    right: 20px;
    top: 45%;
    border-radius: 3px;
    background-color: rgba(0,0,0,.3);
    width: 44px;
    height: 140px;
    box-shadow: 0 0 3px white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.oprate{
    position: absolute;
    right: 49%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.oprate div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    margin: 0 5px;
}
.oprate div.active{
    background-color: white;
}
.bg{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    background-color: rgb(11,99,173);
    margin: 0 5px;
}
.w-40{
    width: 33%;
}
.border-bottom img{
    height: 120px;
}
.w-20{
    width: 16%;
}
.menu{
    background-color: rgb(0,37,74);
    color: white;
    padding: 50px;
}
h2.border-bottom{
    font-size: 24px;
}
.border-bottom{
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}
.border-bottom span{
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}
.text-right{
    text-align: right;
}
.pl-5{
    padding-right: 100px;
}
main{
    padding:20px 15vw 50px 15vw;
    margin: 0 auto;
}
.more{
    font-size: 12px;
    color: #0a62bb;
}
.card{
    width: 30%;
    box-shadow: 0px 0px 5px white;
    background-color: white;
    border-radius: 3px;
}
.card:hover{
    cursor: pointer;
}
.card img{
    border-radius:3px 3px 0 0;
    width: 100%;
    height: 250px;
}
.border-bottom>div{
    margin: 0 5px;
}
.card p{
    color: rgb(11,99,173);
    font-size: 14px;
    padding: 15px 10px 30px 10px;
}
.relative{
    position: relative;
}
.f-14 p{
    font-size: 14px;
}
.gray{
    background: rgb(239,239,239);
}
.rightArrow1{
    top: 100px;
    right: -50px;
    width: 40px;
    height: 80px;
}
.leftArrow1{
    top: 100px;
    left: -50px;
    width: 40px;
    height: 80px;
}
hr{
    border-width: .5px;
    border-color: rgb(11,99,173);
}
input{
    border:1px solid #0a62bb;
    outline: none;
    margin-top: 3px;
}
.under p.ml-3:hover{
    cursor: pointer;
    text-decoration: underline;
}
hr.main{
    margin: 50px 0;
}
.card1{
    background: rgb(0,37,74);
    color: white;
    margin-top: 20px;
}
a.active{
    color: #0a62bb;
}
.card1 img{
    height: 150px;
}
.card1 p{
    font-size: 14px;
    color: white;
    padding: 15px 10px 15px 10px;
}
.f-14{
    font-size: 14px;
}
.w-25{
    width: 23%;
    height: 100px;
    box-shadow: 0 0 3px #999;
    margin-top: 20px;
    margin-right: 10px;
}
.w-25 img{
    width: 100%;
    height: 100%;
}
.blue{
    color: white;
    background: rgb(10,98,185);
}
.footer{
    background: rgb(0,37,74);
    color: white;
    padding-top: 60px;
    padding-bottom: 100px;
}
.footer p{
    font-size: 13px;
}
.transBtn{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    display: block;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.footer p{
    margin: 10px 0;
}
.footer hr{
    border-color: white;
    margin: 10px 0 20px 0;
}
.ml-5{
    margin-left: 50px;
}
.f-12,.f-12 p{
    font-size: 12px!important;
    margin-top: 10px;
    line-height: 20px;
}
.link{
    color: white;
    font-size: 14px;
    line-height: 50px;
    text-decoration: underline;
}
.banner a{
    position: relative;
}
.banner a:hover{
    color: #0a62bb;
}
.banner a:hover::after{
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    top: 20px;
    width: 100%;
    height: 2px;
    background-color: black;
}
.rela{
    position: relative;
}
.p-5{
    padding: 50px;
}
.show{
    height: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    background-color: rgba(10, 98, 187, .9);
    color: white;
    z-index: 99;
    overflow: hidden;
    transition: height .3s;
}
.whiteBorder{
    border-color: white;
}
.banner a:hover .show{
    height: 100px;
}
.ml-5{
    margin-left: 25px!important;
}
.card2{
    width: 24%;
    margin: 0 5px;
    position: relative;
    height: 150px;
    box-shadow: none;
}
.card2>img{
    width: 100%;
    height: 150px;
}
.card2 .flex{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(10, 98, 187, .8);
    box-sizing: border-box;
    color: white;
    height: 40px;
    padding: 10px 20px;
}
.card2 .flex p{
    color: white;
    padding: 0;
}
.card2 .flex img{
    width: 20px;
    height: 20px;
}
.new{
    display: inline-block;
    height: 100%;
    padding: 12px 10px 12px 25px;
    font-size: 12px;
    color: white;
    background-color: rgb(10,98,187);
}
.ml-1{
    margin-left: 3px;
}
.ml-2{
    margin-left: 10px;
}